@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: start;
    color: #bab9bf;
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    background-color: #181824;
    height: 60px;
}

.brand {
    /* background-color: red; */
    display: flex;
    align-items: center;
    color: snow;
    padding-left: 20px;
    font-family: 'Noto Serif Gujarati', serif;
    font-weight: bold;
}

nav ul{
    /* background-color: blue; */
    display: flex;
    margin: auto;        
}

nav ul li {
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #bab9bf;
}

nav ul li a:hover {
    color: white;
}
.contact {
    color: white;
}

.container {
    width: 100%;
    /* height: 100vh; */
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #273132;
    color: snow;
}

.imgs {
    display: flex;
    flex-direction: column;
}

.img1 {
    margin-top: 5px;
    border: 2px solid rgb(142, 136, 136);
    width: 90vw;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1:hover {
    border: 2px solid white;
}

.img1 a {
    transition: all 0.3s ease;
}

.img1 a:active {
    transform: scale(0.94) translateY(-0%);
}

.imgs img {
    cursor: pointer;
    height: 90px;
}

.imgs a {
    padding: 4px;
    text-decoration: none;
    color: snow;
}

.text {
    font-size: 25px;
    padding-left: 10px;
    font-family: 'Work Sans', sans-serif;
}

.text:hover {
    color: rgb(126, 166, 246);
}

#hacker_rank {
    height: 70px;
}

@media screen and (max-width: 319px) {
    nav {
        font-size: 20px;
        height: 40px;
    }
    nav ul li{
        font-size: 10px;
    }
    .brand {
        padding-left: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width:450px) {
    nav {
        font-size: 25px;
        height: 40px;
    }
    nav ul li{
        font-size: 15px;
    }
    .brand {
        padding-left: 10px;
    }
    .img1 {
        width: 80vw;
    }
}